@using EauClaireSalon.Models;
@model Client;

<h1> Add a new Client</h1>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.HiddenFor(model => model.StylistId)
  <input type="submit" value="Create" />
}

<p>@Html.ActionLink("Stylists List", "Index", "Stylists")</p>
